{% include "_partials/_header.html" %}

<section>
    <div class="wrapper">
        <h1>Accordion</h1>
        <h2>Composante de base</h2>

        <!-- 
            BASE DE ACCORDION 
        -->
        <section class="accordion">
            <!-- Panneau -->
            <div class="accordion__container">
                <!-- Header -->
                <div>
                    <h3>Qu'est-ce que la MRC de Baie Ste-Catherine?</h3>
                    <div class="header__icons">
                        <svg class="icon icon-open">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                        <svg class="icon icon-close">
                            <use xlink:href="#icon-minus"></use>
                        </svg>
                    </div>
                </div>
                <!-- Content -->
                <div>
                    La MRC de Baie Ste-Catherine est une municipalité régionale de comté située dans la région administrative de la Côte-Nord au Québec, Canada.
                </div>
            </div>

            <!-- Panneau -->
            <div class="accordion__container">
                <!-- Header -->
                <div>
                    <h3>Quelle est la population de la MRC de Baie Ste-Catherine?</h3>
                    <div class="header__icons">
                        <svg class="icon icon-open">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                        <svg class="icon icon-close">
                            <use xlink:href="#icon-minus"></use>
                        </svg>
                    </div>
                </div>
                <!-- Content -->
                <div>Selon le recensement de 2016, la population de la MRC de Baie Ste-Catherine est de 3 229 habitants.</div>
            </div>

            <!-- Panneau -->
            <div class="accordion__container">
                <!-- Header -->
                <div>
                    <h3>Quels sont les principaux secteurs économiques de la MRC de Baie Ste-Catherine?</h3>
                    <div class="header__icons">
                        <svg class="icon icon-open">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                        <svg class="icon icon-close">
                            <use xlink:href="#icon-minus"></use>
                        </svg>
                    </div>
                </div>
                <!-- Content -->
                <div>Les principales industries de la MRC de Baie Ste-Catherine sont la pêche, le transport maritime, le tourisme et l'agriculture.</div>
            </div>

            <!-- Panneau -->
            <div class="accordion__container">
                <!-- Header -->
                <div>
                    <h3>Quels sont les attraits touristiques de la MRC de Baie Ste-Catherine?</h3>
                    <div class="header__icons">
                        <svg class="icon icon-open">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                        <svg class="icon icon-close">
                            <use xlink:href="#icon-minus"></use>
                        </svg>
                    </div>
                </div>
                <!-- Content -->
                <div>
                    La MRC de Baie Ste-Catherine est connue pour sa proximité avec les baleines, ce qui en fait une destination populaire pour les excursions
                    d'observation des baleines.
                </div>
            </div>

            <!-- Panneau -->
            <div class="accordion__container">
                <div>
                    <h3>Quels sont les services offerts par la MRC de Baie Ste-Catherine à ses citoyens?</h3>
                    <div class="header__icons">
                        <svg class="icon icon-open">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                        <svg class="icon icon-close">
                            <use xlink:href="#icon-minus"></use>
                        </svg>
                    </div>
                </div>
                <!-- Content -->
                <div>
                    La MRC de Baie Ste-Catherine offre une gamme de services à ses citoyens, notamment des services de gestion des déchets et plus encore.
                </div>
            </div>
        </section>
        <!-- 
            FIN DE BASE DE ACCORDION 
        -->
    </div>
</section>

<section>
    <div class="wrapper">
        <h2>Composante avec data-not-closing</h2>

        <!-- 
            ACCORDION AVEC data-not-closing
        -->

        [DUPLIQUEZ LA COMPOSANTE ICI]

        <!-- 
            FIN DE ACCORDION AVEC data-not-closing
        -->
    </div>
</section>

<section>
    <div class="wrapper">
        <h2>Composante avec data-auto-open</h2>

        <!-- 
            ACCORDION AVEC data-not-closing
        -->

        [DUPLIQUEZ LA COMPOSANTE ICI]

        <!-- 
            FIN DE ACCORDION AVEC data-auto-open
        -->
    </div>
</section>

{% include "_partials/_footer.html" %}
